:root {
  --commandtext: #757575;
  --feauturesmain: #212121;
  --Whatdo: #fff;
  --background: #2f303a;
  --whathbt: white;
  --whathbtbg: #2196f3;
  --commandbg: #f5f4fa;
  --headermail: #757575;
  --header-color: #ececec;
  --footermail: rgba(255, 255, 255, 0.6);
  --iconcolor: #AFB1B8
}


.body {
  font-family: Roboto;
position: relative;
}

header {
  padding: 24px 0;
  border-bottom: 1px solid var(--header-color, #ececec);
}


.container{
width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

section{
}

.container-header {
  display: flex;
  align-items: center;
}


.header-list {
  display: flex;
  align-items: center;
}

.header-contact-list{
  display: flex;
  gap: 50px;
  margin-left: auto;
  
}

.header-contact-list-item{
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header-contacts-link:hover > .header-contacts-icon {
  fill:var(--whathbtbg);
}

.header-contacts-icon{
  fill: var(--commandtext);
}




.header-contacts-list-item .header-contacts-link {
  color: var(--text-color, #757575);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-list-item {
  display: flex;
  gap: 53px;
  margin-left: 93px;
  line-height: 1.15;
}




.header-link {
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.28px;
}


.header-link:hover {
  color: var(--whathbtbg);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--whathbtbg);
}

.header-contacts-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.headers-link { 
  color: var(--commandtext);
  font-size: 14px;
  font-weight: 500;
  line-height: 0.6;
  letter-spacing: 0.28px;
}


.headers-link:hover,
.headers-link:focus {
  color: var(--whathbtbg);
}

ul {
  list-style-type: none;
}



.first-color-webstudio {
  color: var(--whathbtbg);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.78px;
}


.second-color-webstudio {
  color: var(--feauturesmain);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.78px;
}

.main-page {}

.container-hero{
display: flex;
align-items: center;
flex-direction: column;
}

.hero {
  background-image:linear-gradient(
     rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
  ),
  url(../images/backround_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 322px;
  color: var(--feauturesmain);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  
}

.hero-titles {
  font-weight: 900;
  color: var(--Whatdo);
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 700px;
  margin-bottom: 45px;
}


.hero-button {
  color: var(--whatdo, #fff);
  text-align: center;
  padding: 10px 32px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background-color:#2196f3;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15)
}

.hero-button:hover{
 background-color:#188CE8;
}

.main-section {
  font-weight: 700;
padding-top: 94px;
}







.main-section-list {  
  display: flex;
  max-width: 270px;
  justify-content: space-between;
  gap: 30px;
}


.main-section-item {}

.main-section-item::before{
content: "";
display: block;
background-color:var(--commandbg) ;
background-image: url(../images/antenna.png);
background-repeat: no-repeat;
width: 270px;
height: 120px;
background-position: center;
border-radius: 4px;
background-size: 70px;
}

.main-section-item:first-child::before{
  background-image: url(../images/antenna.png);
}

.main-section-item:nth-child(2)::before{
  background-image: url(../images/clock.png);
}

.main-section-item:nth-child(3)::before{
  background-image: url(../images/diagram.png);
}

.main-section-item:last-child::before{
background-image: url(../images/astronaut.png);
}


.details-title {
  width: 270px;
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 33px;
}

.details-text {
  width: 270px;
  height: 72px;
  flex-shrink: 0;
  color: var(--commandtext);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.classes {
  font-weight: 700;
  line-height: 0.6;
  padding: 94px 0 94px;
}

.classes-title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  line-height: 1.33;
 margin-bottom: 50px;
}

.classes-list {
  display: flex;
  justify-content: space-between;
}

.classes-item {
  position:relative;
}


.classes-position {
display: flex;
position: absolute;
z-index: 2;
justify-content: center;
align-items: center;
width: 370px;
height: 70px;
bottom: 0;
background: rgba(47, 48, 58, 0.8);
left: 0;

}


.classes-text {
  color: var(--Whatdo);
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
}


.command {
  font-weight: 700;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA
}

.command-title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.command-list {
  font-weight: 500;
  display: flex;
  gap: 30px;

}

.command-item {
  background-color: var(--Whatdo);
padding-bottom: 30px;
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-photo{
  margin-bottom: 33px;
}

.command-icons{
  fill: var(--iconcolor);
}


.command-icons-list{
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.command-icons-link:hover > .command-icons {
  fill: var(--commandbg);
}

.command-icons-item{

}

.command-icons-link{
    display: flex;
  justify-content: center;
  align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
}

.command-icons-link:hover,
.command-icons-link:focus {
  
  background-color: var(--whathbtbg);
}



.list-name {
  font-size: 16px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 1.3;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.list-text {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.costumers{
  background-color: #AFB1B8;
  }
  
  .customers-text{
    color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  margin-bottom: 50px;
  }
  
  
  .customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
  }
  
  
  .customers-list-item {
    padding: 16px 32px;
    border-radius: 4px;
  border: 1px solid #AFB1B8;
  }
  
  
  .costumers-icons {
  fill: var(--iconcolor);
  width: 106px;
  height: 60px;
  }

  
  
  .customers-list-item:hover > .costumers-icons {
    fill: var(--whathbtbg);
  }
  .customers-list-item:hover {
    border: 1px solid var(--whathbtbg);
  }
  


.section-button {
  padding: 94px 0;

}
  

.button-list {  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}


.button-item {
  line-height: 1.6;
display: flex;
flex-direction: row;
justify-content: center;

}


.portfolio-button {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  list-style: none;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--Whatdo);
  background-color: var(--whathbtbg);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);


}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 27px;

}

.hero-list-item { 
  flex-basis: calc((100% - 60px) / 3);
}
.hero-list-item:hover,
.hero-list-item:focus{
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
  0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
 }


 .portfolio-photo{
width: 100%;
}

.container-article{
  padding: 20px 24px;
  border-bottom: 1px solid var(--frame-color, #eee);
  border-right: 1px solid var(--frame-color, #eee);
  border-left: 1px solid var(--frame-color, #eee);
    background-color:var(--Whatdo);
}

.hero-list-title {
  color:var(--feauturesmain);
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 1.08px;
margin-bottom: 4px;
}

.hero-list-text {
  width: 322px;
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.48px;
}


.footer-webstudio {
  font-weight: 400;
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box{
display: flex;
gap: 70px;
}

section{
  padding-top: 15px;
}


.footer-logo {
  font-weight: 700;
  line-height: 0.8;
}


.footer-list {}

.footer-item {}


.first-footer-color-logo {
  color: var(--whathbtbg);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.78px;
}


.second-footer-color-logo {
  color: var(--Whatdo);
  font-family: 'Raleway';
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.78px;
}


.footer-address {
  color: var(--Whatdo);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin-top: 20px;
  display: block;
}



.contact-link {
  color: var(--commandtext);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 9px;
  display: block;
}

.footer-icons-box {
  padding-top: 12px;
}

.footer-adress{
  
}


.footer-icons-text {
  color: var(--Whatdo);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.footer-icons-list {
  display: flex;
  gap: 10px;
  
}


.footer-icons-list-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icons-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}


.footer-icons {
  fill: var(--Whatdo);
  width: 20px;
height: 20px;
}

.footer-icons-list-item:hover,
.footer-icons-list-item:focus{
  background-color: var(--whathbtbg);
}

.footer-form {
  padding-top: 12px;
}


.footer-form-title {
  color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}


.footer-form-container {
  display: flex;
  gap: 12px;
}


.footer-form-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  width: 358px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: var(--whathbtbg);
}

.footer-form-input::placeholder {
  color: var(--commandtext);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}


.footer-form-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  background-color: var(--whathbtbg);
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #188CE8 ;
}
.footer-form-icon {
  fill: #FFF;
}

.backdrop {
  width: 100%;
height: 100%;
background: #FFF;
position: fixed;
top: 0;
left: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}  

.modal-title{
  color: var(--feauturesmain);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}
.modal-window {
  border-radius: 4px;
background: #FFF;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
position: absolute;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 50%;
padding: 40px;
width: 528px;
height: 581px;

}





.no-scroll {
  overflow: hidden;
}


.modal-form {
}
.modal-close-button {
  background-color: transparent;
border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;

}

.modal-close-button:hover,
.modal-close-button:focus{
fill: var(--whathbtbg);
}


.modal-close-icons {
}

.modal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.modal-item {
}
.modal-name {
  color: var(--headermail);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
position: relative;
display: flex;
flex-direction: column;
gap: 4px;
}


.modal-input {
  width: 448px;
height: 40px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
}

.modal-input:hover,
.modal-input:focus{
  border-color: var(--whathbtbg);
}


.modal-icons {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: var(--feauturesmain);
}

.modal-input:hover + .modal-icons{
  fill: var(--whathbtbg);
}


.modal-input:focus + .modal-icons{
  fill: var(--whathbtbg);
}


.modal-comment {
    width: 448px;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
padding: 12px 16px;
color: var(--text-color);
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.12px;
resize: none;
}

.modal-comment:hover {
  border-color: var(--whathbtbg);
}

.modal-coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}


.modal-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal-text {
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}


.modal-link {
  color: var(--whathbtbg);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-link:hover{
  color: #188CE8;
}


.modal-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--whathbtbg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  border-color: transparent;
}

.modal-button:hover{
  background-color: #188CE8;
}

.modal-box{
  width: 16px;
  height: 15px;
  border: 2px solid var(--feauturesmain);
  border-radius: 2px;
  position: relative;
}

.modal-box::before {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
}

.modal-box-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--whathbtbg);
}

.modal-checkbox:checked + .modal-box::before {
  opacity: 1;
}

.modal-checkbox:checked + .modal-box::before {
  border-color: var(--whathbtbg);
}



