:root{
--commandname: #212121;
--commandtext:#757575;
--feauturesmain:#212121;
--Whatdo:#ffff;
  --whatdobg: #2f303a;
  --whathbt: white;
  --whathbtbg: #2196f3;
  --commandbg: #f5f4fa;
  --headermail: #757575;
  --headerphon: #2196f3;
  --footerstrit: #ffff;
  --footermail: rgba(255, 255, 255, 0.6);
  --footerphone: rgba(255, 255, 255, 0.6);
  --footerbg: #2f303a;
  --swmain: #212121;
  --swtext: #757575;
}

.main-page{
font-family: Roboto;
font-weight: 500;

}


.logo-webstudio {
  font-family: Raleway;
  font-weight: 700;
  
}


.header-list {
font-weight: 500;

}


.hero-title {
font-weight: 900;

}


.hero-button {
  font-weight: 700;
}


.main-div {
font-weight: 700;

}


.div-p {
font-weight: 400;

}


.our-classes {
font-weight: 700;

}


.section-bg {
  font-weight: 700;
}

.bg-list{
  font-weight: 500;
}


.list-p {
  font-weight: 400;
}


.footer-webstudio {
  font-weight: 400;
}


